//import des variables et mixins
@use '../assets/abstracts/variables' as *;
@use '../assets/abstracts/mixins' as *;
@use '../assets/abstracts/functions' as *;
@use '../assets/abstracts/colors' as *;
@use '../assets/abstracts/typography' as *; 
//import des bases
@use '../assets/base/reset' as *;
@use '../assets/base/global' as *;
@use '../assets/base/reset-typography' as *;
//Import des layouts
@use '../assets/layout/header' as *;
@use '../assets/layout/footer' as *;
@use '../assets/layout/grid' as *;
@use '../assets/layout/forms' as *;
//Import des composants
@use '../assets/componement/buttons/icon' as *;
@use '../assets/componement/buttons/primary' as *;
@use '../assets/componement/buttons/secondary' as *;
@use '../assets/componement/cards/movies-cards' as *;
@use '../assets/componement/cards/product-card' as *;
//Import des composants
@use '../assets/page/home' as *; 
@use '../assets/page/about' as *;
@use '../assets/page/contact' as *;
@use '../assets/page/error' as *;

.shoes {
    width: 2%;
}

.container {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.best-seller {
    width: 50%;
    height: auto;
}

h2 {
    text-align: center;
    margin-bottom: 5rem;
    border-top: solid;
    border-radius: 1rem;
    width: 20%;
    margin-left: 40%;
}

.row {
    justify-content: center;
}

.card {
    margin-left: 1rem;
}

span {
    margin-right: 1rem;
}

.product {
    margin-bottom: 5rem;
    gap: 2rem;
}

.contact {
    margin-left: 2rem;
    width: 30%;
}

@media (max-width: 680px) {
    .card-text {
        display: none;
    }
    .btn btn-light {
        display: none;
    }
}



    

    


